<launch>
  <arg name="topic" default="/imu/data"/>
  <group ns="/sensors/imu">
    <node name="driver" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
      <param name="port" value="/dev/serial/by-id/usb-Xsens_MTi-30_AHRS_0368319D-if01-port0"/>
      <rosparam command="load" file="$(find xsens_mti_driver)/param/xsens_mti_node.yaml" />
      <remap from="imu/data"             to="data"/>
      <remap from="imu/acceleration"     to="acceleration"/>
      <remap from="imu/angular_velocity" to="angular_velocity"/>
      <remap from="imu/mag"              to="mag"/>
      <remap from="imu/time"             to="time"/>
      <remap from="imu/time_ref"         to="time_ref"/>
      <remap from="filter/quaternion"    to="quaternion"/>
    </node>
  </group>
</launch>
