<launch>
  <arg name="camera_name"               default="F1" />
  <arg name="frame_id"                  default="$(arg camera_name)" />
  <arg name="camera_serial"             default="25110056" />
  <arg name="device_type"               default="GigE" />
  <arg name="config_file"               default="$(find ig_handle)/config/ig_handle_forge_config.yaml" />
  <arg name="camera_info_url"           default="" />
  <arg name="topic"                     default="image_raw"/>
  <arg name="camera_info_topic"         default="camera_info"/>

  <group ns="$(arg camera_name)">
    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

    <!-- Camera nodelet -->
    <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
          args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

      <param name="frame_id"                        value="$(arg frame_id)" />
      <param name="serial"                          value="$(arg camera_serial)" />
      <param name="device_type"                     value="$(arg device_type)" />
      <param if="$(eval arg('camera_info_url') != '')"
             name="camera_info_url"
             value="$(arg camera_info_url)" />

      <rosparam command="load" file="$(arg config_file)" />
      
      <remap from="image_raw" to="$(arg topic)"/>
      <remap from="camera_info" to="$(arg camera_info_topic)"/>
    </node>

    <!-- Debayering nodelet -->
    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
      <remap from="image_raw" to="$(arg topic)"/>
      <remap from="image_color" to="$(arg topic)/color"/>
    </node>
  </group>
</launch>
