<launch>
  <!-- Primary boat adapter. Actuation is handled downstream by the Heron
       computer; this launcher owns the shared IG sensor suite. -->
  <arg name="use_cameras" default="true"/>
  <arg name="use_camera_f1" default="true"/>
  <arg name="use_camera_f2" default="true"/>
  <arg name="use_camera_f3" default="true"/>
  <arg name="use_camera_f4" default="true"/>
  <arg name="use_lidar_h" default="true"/>
  <arg name="use_lidar_v" default="true"/>
  <arg name="use_sonar" default="true"/>
  <arg name="use_teensy" default="false"/>

  <arg name="topic_imu"        default="/sensors/imu/data"/>
  <arg name="topic_lidar_h"    default="/sensors/lidar/hori/points"/>
  <arg name="topic_lidar_v"    default="/sensors/lidar/vert/points"/>
  <arg name="topic_cam_f1_raw" default="/sensors/camera/f1/image_raw"/>
  <arg name="topic_cam_f2_raw" default="/sensors/camera/f2/image_raw"/>
  <arg name="topic_cam_f3_raw" default="/sensors/camera/f3/image_raw"/>
  <arg name="topic_cam_f4_raw" default="/sensors/camera/f4/image_raw"/>
  <arg name="topic_cam_f1_info" default="/sensors/camera/f1/camera_info"/>
  <arg name="topic_cam_f2_info" default="/sensors/camera/f2/camera_info"/>
  <arg name="topic_cam_f3_info" default="/sensors/camera/f3/camera_info"/>
  <arg name="topic_cam_f4_info" default="/sensors/camera/f4/camera_info"/>
  <arg name="topic_sonar_raw"  default="/sensors/sonar/raw"/>
  <arg name="topic_sonar"      default="/sensors/sonar/scan"/>
  <arg name="topic_pps_time"   default="/sensors/pps/time"/>
  <arg name="topic_camera_time" default="/sensors/camera/time"/>
  <arg name="topic_imu_time" default="/sensors/imu/time"/>
  <arg name="camera_f1_info_url" default="package://ig_handle/config/cameras/25110056.yaml"/>
  <arg name="camera_f2_info_url" default="package://ig_handle/config/cameras/25152257.yaml"/>
  <arg name="camera_f3_info_url" default="package://ig_handle/config/cameras/25110061.yaml"/>
  <arg name="camera_f4_info_url" default="package://ig_handle/config/cameras/25110065.yaml"/>
  <arg name="camera_f1_ip" default="192.168.50.101"/>
  <arg name="camera_f2_ip" default="192.168.50.102"/>
  <arg name="camera_f3_ip" default="192.168.50.103"/>
  <arg name="camera_f4_ip" default="192.168.50.104"/>
  <arg name="camera_timeout_sec" default="12.0"/>
  <arg name="camera_f1_startup_delay_sec" default="6.0"/>
  <arg name="camera_f2_startup_delay_sec" default="8.0"/>
  <arg name="camera_f3_startup_delay_sec" default="10.0"/>
  <arg name="camera_f4_startup_delay_sec" default="12.0"/>
  <arg name="teensy_port" default="/dev/teensy"/>
  <arg name="teensy_baud" default="115200"/>

  <include file="$(find ig_handle)/launch/robots/sensors.launch">
    <arg name="use_cameras" value="$(arg use_cameras)"/>
    <arg name="use_camera_f1" value="$(arg use_camera_f1)"/>
    <arg name="use_camera_f2" value="$(arg use_camera_f2)"/>
    <arg name="use_camera_f3" value="$(arg use_camera_f3)"/>
    <arg name="use_camera_f4" value="$(arg use_camera_f4)"/>
    <arg name="use_lidar_h" value="$(arg use_lidar_h)"/>
    <arg name="use_lidar_v" value="$(arg use_lidar_v)"/>
    <arg name="use_sonar" value="$(arg use_sonar)"/>
    <arg name="use_teensy" value="$(arg use_teensy)"/>
    <arg name="topic_imu" value="$(arg topic_imu)"/>
    <arg name="topic_lidar_h" value="$(arg topic_lidar_h)"/>
    <arg name="topic_lidar_v" value="$(arg topic_lidar_v)"/>
    <arg name="topic_cam_f1_raw" value="$(arg topic_cam_f1_raw)"/>
    <arg name="topic_cam_f2_raw" value="$(arg topic_cam_f2_raw)"/>
    <arg name="topic_cam_f3_raw" value="$(arg topic_cam_f3_raw)"/>
    <arg name="topic_cam_f4_raw" value="$(arg topic_cam_f4_raw)"/>
    <arg name="topic_cam_f1_info" value="$(arg topic_cam_f1_info)"/>
    <arg name="topic_cam_f2_info" value="$(arg topic_cam_f2_info)"/>
    <arg name="topic_cam_f3_info" value="$(arg topic_cam_f3_info)"/>
    <arg name="topic_cam_f4_info" value="$(arg topic_cam_f4_info)"/>
    <arg name="topic_sonar_raw" value="$(arg topic_sonar_raw)"/>
    <arg name="topic_sonar" value="$(arg topic_sonar)"/>
    <arg name="topic_pps_time" value="$(arg topic_pps_time)"/>
    <arg name="topic_camera_time" value="$(arg topic_camera_time)"/>
    <arg name="topic_imu_time" value="$(arg topic_imu_time)"/>
    <arg name="camera_f1_info_url" value="$(arg camera_f1_info_url)"/>
    <arg name="camera_f2_info_url" value="$(arg camera_f2_info_url)"/>
    <arg name="camera_f3_info_url" value="$(arg camera_f3_info_url)"/>
    <arg name="camera_f4_info_url" value="$(arg camera_f4_info_url)"/>
    <arg name="camera_f1_ip" value="$(arg camera_f1_ip)"/>
    <arg name="camera_f2_ip" value="$(arg camera_f2_ip)"/>
    <arg name="camera_f3_ip" value="$(arg camera_f3_ip)"/>
    <arg name="camera_f4_ip" value="$(arg camera_f4_ip)"/>
    <arg name="camera_timeout_sec" value="$(arg camera_timeout_sec)"/>
    <arg name="camera_f1_startup_delay_sec" value="$(arg camera_f1_startup_delay_sec)"/>
    <arg name="camera_f2_startup_delay_sec" value="$(arg camera_f2_startup_delay_sec)"/>
    <arg name="camera_f3_startup_delay_sec" value="$(arg camera_f3_startup_delay_sec)"/>
    <arg name="camera_f4_startup_delay_sec" value="$(arg camera_f4_startup_delay_sec)"/>
    <arg name="teensy_port" value="$(arg teensy_port)"/>
    <arg name="teensy_baud" value="$(arg teensy_baud)"/>
  </include>
</launch>
