<launch>
  <arg name="sensor_contract_file" default="$(find ig_handle)/config/sensors/sensor_contract.yaml"/>
  <arg name="extra_sensor_ids" default=""/>
  <arg name="disabled_sensor_ids" default=""/>
  <arg name="sensor_reachability_check" default="true"/>

  <node pkg="ig_handle"
        type="sensor_bringup.py"
        name="sensor_bringup"
        output="screen"
        required="true">
    <param name="sensor_contract_file" value="$(arg sensor_contract_file)"/>
    <param name="extra_sensor_ids" value="$(arg extra_sensor_ids)"/>
    <param name="disabled_sensor_ids" value="$(arg disabled_sensor_ids)"/>
    <param name="sensor_reachability_check" value="$(arg sensor_reachability_check)"/>
  </node>
</launch>
