<launch>
  <arg name="config_eval"
       default="$(eval open(find('mariner') + '/launch/include/config_launch_eval.py').read())"/>
  <arg name="runtime_surface_file" default="$(find ig_handle)/config/runtime_surface.yaml"/>
  <!-- Network configuration. NatNet defaults preserve the existing direct
       server/client behavior; set natnet_use_multicast:=true when Motive is
       configured for multicast streaming. -->
  <arg name="transport" default="natnet"/>
  <arg name="server_ip" default="$(eval eval(open(find('ig_handle') + '/scripts/network_launch_eval.py').read())(find('ig_handle'), 'mocap_natnet_server_ip'))"/>
  <arg name="client_ip" default="$(eval eval(open(find('ig_handle') + '/scripts/network_launch_eval.py').read())(find('ig_handle'), 'mocap_natnet_client_ip'))"/>
  <arg name="natnet_use_multicast" default="false"/>
  <arg name="natnet_multicast_address" default="$(eval eval(open(find('ig_handle') + '/scripts/network_launch_eval.py').read())(find('ig_handle'), 'mocap_natnet_multicast_address'))"/>
  <arg name="udp_bind_ip" default="$(eval eval(open(find('ig_handle') + '/scripts/network_launch_eval.py').read())(find('ig_handle'), 'mocap_udp_bind_ip'))"/>
  <arg name="udp_port" default="5005"/>

  <!-- ROS topic and frame mapping. -->
  <arg name="frame_id" default="mocap_world"/>
  <arg name="topic_prefix" default="/mocap"/>
  <arg name="publish_tf"
       default="$(eval 'false' if str(arg('transport')).lower() == 'datacollect_udp' else 'true')"/>
  <arg name="child_frame_prefix" default="rigid_body_"/>
  <arg name="stale_timeout_sec" default="1.0"/>

  <arg name="heron_pose_topic" default="$(eval eval(arg('config_eval'))(arg('runtime_surface_file'), 'topics.mocap_pose'))"/>
  <arg name="markers_topic" default="$(eval eval(arg('config_eval'))(arg('runtime_surface_file'), 'topics.mocap_markers'))"/>
  <arg name="potential_objects_topic" default="$(eval eval(arg('config_eval'))(arg('runtime_surface_file'), 'topics.mocap_potential_objects'))"/>
  <arg name="status_topic" default="$(eval eval(arg('config_eval'))(arg('runtime_surface_file'), 'topics.mocap_status'))"/>

  <!-- Datacollect UDP options. Used only with transport:=datacollect_udp. -->
  <arg name="datacollect_schema" default="datacollect.heron.v1"/>
  <arg name="datacollect_source_ip" default=""/>
  <arg name="datacollect_reject_unexpected_source" default="false"/>

  <node pkg="ig_handle" type="mocap.py" name="mocap_bridge" output="screen">
    <param name="transport" value="$(arg transport)"/>
    <param name="server_ip" value="$(arg server_ip)"/>
    <param name="client_ip" value="$(arg client_ip)"/>
    <param name="natnet_use_multicast" value="$(arg natnet_use_multicast)"/>
    <param name="natnet_multicast_address" value="$(arg natnet_multicast_address)"/>
    <param name="udp_bind_ip" value="$(arg udp_bind_ip)"/>
    <param name="udp_port" value="$(arg udp_port)"/>

    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="topic_prefix" value="$(arg topic_prefix)"/>
    <param name="publish_tf" value="$(arg publish_tf)"/>
    <param name="child_frame_prefix" value="$(arg child_frame_prefix)"/>
    <param name="stale_timeout_sec" value="$(arg stale_timeout_sec)"/>

    <param name="heron_pose_topic" value="$(arg heron_pose_topic)"/>
    <param name="markers_topic" value="$(arg markers_topic)"/>
    <param name="potential_objects_topic" value="$(arg potential_objects_topic)"/>
    <param name="status_topic" value="$(arg status_topic)"/>

    <param name="datacollect_schema" value="$(arg datacollect_schema)"/>
    <param name="datacollect_source_ip" value="$(arg datacollect_source_ip)"/>
    <param name="datacollect_reject_unexpected_source" value="$(arg datacollect_reject_unexpected_source)"/>
  </node>
</launch>
