<launch>
  <arg name="port" default="/dev/teensy"/>
  <arg name="baud" default="115200"/>
  <arg name="pps_time_topic" default="/sensors/pps/time"/>
  <arg name="camera_time_topic" default="/sensors/camera/time"/>
  <arg name="imu_time_topic" default="/sensors/imu/time"/>

  <node name="teensy_rosserial_launcher" pkg="ig_handle" type="teensy_rosserial_launcher.py" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
    <remap from="/pps/time" to="$(arg pps_time_topic)"/>
    <remap from="/cam/time" to="$(arg camera_time_topic)"/>
    <remap from="/imu/time" to="$(arg imu_time_topic)"/>
  </node>
</launch>
