<launch>
  <arg name="heron_sense_raw_topic" default="/sense"/>
  <arg name="heron_sense_topic" default="/sense_heron"/>
  <arg name="expected_heron_sense_publisher" default="/rosserial_server"/>
  <arg name="ighandle_bms_enabled" default="false"/>
  <arg name="ighandle_bms_config_file" default="$(find ig_handle)/config/sensors/jk_bms.yaml"/>
  <arg name="ighandle_sense_topic" default="/sense_ighandle"/>
  <arg name="ighandle_sense_details_topic" default="/sense_ighandle/details"/>

  <node pkg="ig_handle" type="heron_sense_ingress.py"
        name="heron_sense_ingress" output="screen" required="true">
    <param name="input_topic" value="$(arg heron_sense_raw_topic)"/>
    <param name="output_topic" value="$(arg heron_sense_topic)"/>
    <param name="expected_publisher" value="$(arg expected_heron_sense_publisher)"/>
  </node>

  <node if="$(arg ighandle_bms_enabled)"
        pkg="ig_handle" type="jk_bms_node.py"
        name="ighandle_jk_bms" output="screen" required="true">
    <rosparam command="load" file="$(arg ighandle_bms_config_file)"/>
    <param name="enabled" type="bool" value="true"/>
    <param name="battery_topic" value="$(arg ighandle_sense_topic)"/>
    <param name="details_topic" value="$(arg ighandle_sense_details_topic)"/>
  </node>
</launch>
