<launch>
  <arg name="port" default="/dev/teensy"/>
  <arg name="baud" default="115200"/>
  <arg name="pps_time_topic" default="/sensors/pps/time"/>
  <arg name="camera_time_topic" default="/sensors/camera/time"/>
  <arg name="imu_time_topic" default="/sensors/imu/time"/>

  <node name="teensy_rosserial_launcher" pkg="ig_handle" type="teensy_rosserial_launcher.py" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
    <param name="pps_time_topic" value="$(arg pps_time_topic)"/>
    <param name="camera_time_topic" value="$(arg camera_time_topic)"/>
    <param name="imu_time_topic" value="$(arg imu_time_topic)"/>
  </node>
</launch>
